<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AzureOpenAIEndpoint" value="https://rdc-north-ai-demo.openai.azure.com/" />
		<add key="AzureOpenAIKey" value="291c8602c5fc4276b4838c1e9e2f1e9d" />  
		<add key="AzureOpenAIModel" value="rdc-gpt-16-north" />
		<add key="AzureOpenAIEndpoint2" value="https://rdc-openai-sweden.openai.azure.com/" />
		<add key="AzureOpenAIKey2" value="5a587061c4f544b8a2af61f8b72042ec" />
		<add key="AzureOpenAIModel2" value="gpt-4-sweden" />
	</appSettings>
</configuration>
